<% include ./partials/header %>
<div class="row">
    <div class="col-md-12">
        <form action="/reset/<%=token%>" method="POST">
            <legend>Reset Password</legend>
            <div class="form-group">
                <label for="password">Enter New Password</label>
                <input type="password" name="password" placeholder="New Password" autofocus="autofocus" class="form-control">
        
            </div>
            
             <div class="form-group">
                <label for="confirm">Enter New Password</label>
                <input type="password" name="confirm" placeholder="Confirm Password"  class="form-control">
        
            </div>
            
            <div class="form-group">
		    <button type="submit" class="btn btn-primary">Update Password</button>
		  </div>
            
        </form>
    </div>
    
</div>

<% include ./partials/footer %>